<head>
	<meta charset="utf-8">
<style>
	td {
		border-style: solid;
		border-width: 0.1em;
	}
</style>
</head>
<body>
<table>
<tr><th>"Kurzusnev"</th><th>"Kurzuskod"</th><th>"Idopont"</th><th>"Helyszin"</th><th>"Hetek"</th><th>"Megj."</th><th>"Oratipus"</th><th>"Csop."</th><th>"Letszam"</th><th>"Ea"</th><th>"Gyak"</th><th>"Oktato"</th></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"IP-08bAA1E"</td><td>"Kedd 10:00-12:00"</td><td>"Déli Tömb 0-821 Bolyai János terem"</td><td>"2,3,4,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"elõadás"</td><td>"1"</td><td>"300"</td><td>"2"</td><td>"0"</td><td>"Ásványi Tibor dr."</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"IP-08bAA1E"</td><td>"Kedd 16:00-17:30"</td><td>"Déli Tömb 0-823 Kitaibel Pál terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"elõadás"</td><td>"2"</td><td>"190"</td><td>"2"</td><td>"0"</td><td>"Ásványi Tibor dr."</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>"Csütörtök 10:00-12:00"</td><td>"Déli Tömb 0-312 Gallai Tibor terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"4"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Ásványi Tibor dr."</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>"Hétfo 18:15-19:45"</td><td>"Déli Tömb 0-826"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"8"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Szita Balázs"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>"Kedd 12:00-14:00"</td><td>"Déli Tömb 0-412 Rényi Alfréd terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"7"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Kovácsné Pusztai Kinga"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>"Kedd 8:00-10:00"</td><td>"Déli Tömb 0-825 Farkas Gyula terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"5"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Nagy Sára"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>"Szerda 14:00-16:00"</td><td>"Déli Tömb 0-222"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"6"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Nagy Ádám"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>"Kedd 12:00-14:00"</td><td>"Déli Tömb 1-105 Sárfalvi Béla terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"5"</td><td>"25"</td><td>"0"</td><td>"2"</td><td>"Szarvas Kristóf"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>"Szerda 12:00-14:00"</td><td>"Déli Tömb 0-220 Kárteszi Ferenc terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"4"</td><td>"25"</td><td>"0"</td><td>"2"</td><td>"Szarvas Kristóf"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>"Szerda 12:00-14:00"</td><td>"Déli Tömb 3-219 Turán Pál terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"7"</td><td>"25"</td><td>"0"</td><td>"2"</td><td>"Chripkó Ágnes"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>"Szerda 16:00-18:00"</td><td>"Déli Tömb 0-220 Kárteszi Ferenc terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"6"</td><td>"25"</td><td>"0"</td><td>"2"</td><td>"Chripkó Ágnes"</td></tr>
<tr><td>"Diszkrét matematika 2. EA. (BSc,08,B)"</td><td>"IP-08bDM2E"</td><td>"Csütörtök 8:00-11:00"</td><td>"Déli Tömb 0-803 Szabó József eloadó"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"elõadás"</td><td>"1"</td><td>"100"</td><td>"3"</td><td>"0"</td><td>"Fülöp Ágnes"</td></tr>
<tr><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"IP-08bDM2G"</td><td>"Kedd 14:00-17:00"</td><td>"Déli Tömb 00-115"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"2"</td><td>"18"</td><td>"0"</td><td>"3"</td><td>"Tóth Viktória"</td></tr>
<tr><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"IP-08bDM2G"</td><td>"Szerda 15:00-18:00"</td><td>"Déli Tömb 0-311 Konig terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"1"</td><td>"18"</td><td>"0"</td><td>"3"</td><td>"Tóth Viktória"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>"Csütörtök 12:00-14:00"</td><td>"Déli Tömb 0-825 Farkas Gyula terem"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"1"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Lázár Katalin Anna"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>"Péntek 10:00-12:00"</td><td>"Déli Tömb 0-221"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"5"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Vatai Emil"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>"Szerda 12:00-14:00"</td><td>"Déli Tömb 4-713 (16 után zárt)"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"3"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Kolonits Gábor"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>"Szerda 16:00-17:30"</td><td>"Déli Tömb 0-221"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"2"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Lázár Katalin Anna"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>"Szerda 16:00-18:00"</td><td>"Déli Tömb 0-411"</td><td>"2,3,4,5,6,7,8,9,10,11,12,13,14,15"</td><td>""</td><td>"gyakorlat"</td><td>"4"</td><td>"20"</td><td>"0"</td><td>"2"</td><td>"Kolonits Gábor"</td></tr>
</table>
</body>
