<head>
	<meta charset="utf-8">
<style>
	td {
		border-style: solid;
		border-width: 0.1em;
	}
</style>
</head>
<body>
<table>
<tr><td>"Kurzusnev"</td><td>"Idopont"</td><td>"Oratipus"</td><td>"Csop."</td><td>"Letszam"</td><td>"Oktato"</td></tr>
<tr style="height: 6em;"><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"Kedd 10:00-12:00"</td><td>"elõadás"</td><td>"1"</td><td>"300"</td><td>"Ásványi Tibor dr."</td></tr>
<tr style="height: 4em;"><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"Kedd 16:00-17:30"</td><td>"elõadás"</td><td>"2"</td><td>"190"</td><td>"Ásványi Tibor dr."</td></tr>
<tr style="height: 6em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Csütörtök 10:00-12:00"</td><td>"gyakorlat"</td><td>"4"</td><td>"20"</td><td>"Ásványi Tibor dr."</td></tr>
<tr style="height: 3em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Hétfo 14:00-15:00"</td><td>"gyakorlat"</td><td>"4"</td><td>"20"</td><td>"Ásványi Tibor dr."</td></tr>
<tr style="height: 3em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Hétfo 14:00-15:00"</td><td>"gyakorlat"</td><td>"5"</td><td>"20"</td><td>"Nagy Sára"</td></tr>
<tr style="height: 3em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Hétfo 14:00-15:00"</td><td>"gyakorlat"</td><td>"7"</td><td>"20"</td><td>"Kovácsné Pusztai Kinga"</td></tr>
<tr style="height: 4em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Hétfo 18:15-19:45"</td><td>"gyakorlat"</td><td>"8"</td><td>"20"</td><td>"Szita Balázs"</td></tr>
<tr style="height: 2em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Hétfo 20:15-21:00"</td><td>"gyakorlat"</td><td>"8"</td><td>"20"</td><td>"Szita Balázs"</td></tr>
<tr style="height: 6em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Kedd 12:00-14:00"</td><td>"gyakorlat"</td><td>"7"</td><td>"20"</td><td>"Kovácsné Pusztai Kinga"</td></tr>
<tr style="height: 6em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Kedd 8:00-10:00"</td><td>"gyakorlat"</td><td>"5"</td><td>"20"</td><td>"Nagy Sára"</td></tr>
<tr style="height: 3em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Szerda 10:00-11:00"</td><td>"gyakorlat"</td><td>"6"</td><td>"20"</td><td>"Nagy Ádám"</td></tr>
<tr style="height: 6em;"><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"Szerda 14:00-16:00"</td><td>"gyakorlat"</td><td>"6"</td><td>"20"</td><td>"Nagy Ádám"</td></tr>
<tr style="height: 6em;"><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"Kedd 12:00-14:00"</td><td>"gyakorlat"</td><td>"5"</td><td>"25"</td><td>"Szarvas Kristóf"</td></tr>
<tr style="height: 6em;"><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"Szerda 12:00-14:00"</td><td>"gyakorlat"</td><td>"4"</td><td>"25"</td><td>"Szarvas Kristóf"</td></tr>
<tr style="height: 6em;"><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"Szerda 12:00-14:00"</td><td>"gyakorlat"</td><td>"7"</td><td>"25"</td><td>"Chripkó Ágnes"</td></tr>
<tr style="height: 6em;"><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"Szerda 16:00-18:00"</td><td>"gyakorlat"</td><td>"6"</td><td>"25"</td><td>"Chripkó Ágnes"</td></tr>
<tr style="height: 9em;"><td>"Diszkrét matematika 2. EA. (BSc,08,B)"</td><td>"Csütörtök 8:00-11:00"</td><td>"elõadás"</td><td>"1"</td><td>"100"</td><td>"Fülöp Ágnes"</td></tr>
<tr style="height: 9em;"><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"Kedd 14:00-17:00"</td><td>"gyakorlat"</td><td>"2"</td><td>"18"</td><td>"Tóth Viktória"</td></tr>
<tr style="height: 9em;"><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"Szerda 15:00-18:00"</td><td>"gyakorlat"</td><td>"1"</td><td>"18"</td><td>"Tóth Viktória"</td></tr>
<tr style="height: 6em;"><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"Csütörtök 12:00-14:00"</td><td>"gyakorlat"</td><td>"1"</td><td>"20"</td><td>"Lázár Katalin Anna"</td></tr>
<tr style="height: 6em;"><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"Péntek 10:00-12:00"</td><td>"gyakorlat"</td><td>"5"</td><td>"20"</td><td>"Vatai Emil"</td></tr>
<tr style="height: 6em;"><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"Szerda 12:00-14:00"</td><td>"gyakorlat"</td><td>"3"</td><td>"20"</td><td>"Kolonits Gábor"</td></tr>
<tr style="height: 4em;"><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"Szerda 16:00-17:30"</td><td>"gyakorlat"</td><td>"2"</td><td>"20"</td><td>"Lázár Katalin Anna"</td></tr>
<tr style="height: 6em;"><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"Szerda 16:00-18:00"</td><td>"gyakorlat"</td><td>"4"</td><td>"20"</td><td>"Kolonits Gábor"</td></tr>
<tr style="height: 6em;"><td>"Programozás módszertani alapjai 2. EA. (BSc,08,B)"</td><td>"Csütörtök 12:00-14:00"</td><td>"elõadás"</td><td>"1"</td><td>"120"</td><td>"Borsi Zsolt Richárd"</td></tr>
<style>
	td {
		width: 10em;
		text-align: left;
		vertical-align: top;
	}
</style>
<tr>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
<tr style="height:10.0em;"><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><tr style="height:10.0em;"><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td></tr>
<tr style="height:10.0em;"><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><tr style="height:10.0em;"><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td></tr>
<tr style="height:10.0em;"><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><tr style="height:10.0em;"><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td></tr>
<tr style="height:10.0em;"><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><tr style="height:10.0em;"><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td></tr>
<tr style="height:10.0em;"><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><tr style="height:10.0em;"><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td></tr>
<tr style="height:10.0em;"><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><tr style="height:10.0em;"><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td></tr>
<tr style="height:10.0em;"><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><tr style="height:10.0em;"><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td></tr>
<tr style="height:10.0em;"><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><tr style="height:10.0em;"><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td></tr>
<tr style="height:10.0em;"><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><tr style="height:10.0em;"><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td></tr>
<tr style="height:10.0em;"><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><tr style="height:10.0em;"><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td></tr>
<tr style="height:10.0em;"><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><tr style="height:10.0em;"><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td></tr>
<tr style="height:10.0em;"><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><tr style="height:10.0em;"><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td></tr>
<tr style="height:10.0em;"><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><tr style="height:10.0em;"><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td></tr>
<tr style="height:10.0em;"><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><tr style="height:10.0em;"><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td></tr>
<tr style="height:10.0em;"><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><tr style="height:10.0em;"><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td></tr>
<tr style="height:10.0em;"><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><tr style="height:10.0em;"><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td></tr>
<tr style="height:10.0em;"><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><tr style="height:10.0em;"><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td></tr>
<tr style="height:10.0em;"><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><tr style="height:10.0em;"><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td></tr>
<tr style="height:10.0em;"><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><tr style="height:10.0em;"><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td></tr>
<tr style="height:10.0em;"><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><tr style="height:10.0em;"><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td></tr>
<tr style="height:10.0em;"><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><tr style="height:10.0em;"><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td></tr>
<tr style="height:10.0em;"><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><tr style="height:10.0em;"><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td></tr>
<tr style="height:10.0em;"><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><tr style="height:10.0em;"><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td></tr>
<tr style="height:10.0em;"><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><tr style="height:10.0em;"><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td></tr>
</table>
</body>
