<head>
	<meta charset="utf-8">
<style>
	td {
		border-style: solid;
		border-width: 0.1em;
	}
</style>
</head>
<body>
<table>
<tr><th>"Tárgy kódja"</th><th>"Tárgy neve"</th><th>""</th><th>"Kurzus kódja"</th><th>"Kurzus típusa"</th><th>"Fő/Várólista/Limit"</th><th>""</th><th>""</th><th>"Rangsorsorrend"</th><th>"Órarend inf."</th><th>"Oktatók"</th><th>"Nyelv"</th><th>"Telephely"</th><th>"Megj."</th><th>"Leírás"</th><th>""</th></tr>
<tr><td>"Teszteszközök használata a gyakorlatban"</td><td>"IKP-9190"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/21/20"</td><td>""</td><td>""</td><td>"22"</td><td>""</td><td>"Kovács Attila"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"JavaScript technológiák"</td><td>"IKP-9234"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/37/20"</td><td>""</td><td>""</td><td>"38"</td><td>""</td><td>"Móger Tibor László, Horváth Győző, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"JavaScript technológiák"</td><td>"IKP-9234"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/5/20"</td><td>""</td><td>""</td><td>"6"</td><td>""</td><td>""</td><td>"magyar"</td><td>""</td><td>"A kurzus n..."</td><td>""</td><td>""</td></tr>
<tr><td>"Agda (EC)"</td><td>"IKP-9202"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/1/0"</td><td>""</td><td>""</td><td>"2"</td><td>""</td><td>"Kaposi Ambrus"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>""</td></tr>
<tr><td>"Haladó Haskell (EC)"</td><td>"IKP-9203"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/1/0"</td><td>""</td><td>""</td><td>"2"</td><td>""</td><td>"Kovács András, Kaposi Ambrus"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>""</td></tr>
<tr><td>"IT biztonság I."</td><td>"IKP-9212"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/131/120"</td><td>""</td><td>""</td><td>"132"</td><td>""</td><td>"Kovács Attila"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Jogi-és menedzsment ismeretek EA. (BSc 08)"</td><td>"IP-08JMIE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/136/165"</td><td>""</td><td>""</td><td>"136"</td><td>""</td><td>"Nikovits Tibor Dr., Illés Zoltán Dr., Vincellér Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Jogi-és menedzsment ismeretek EA. (BSc 08)"</td><td>"IP-08JMIE"</td><td>""</td><td>"2"</td><td>"Előadás"</td><td>"0/239/225"</td><td>""</td><td>""</td><td>"240"</td><td>""</td><td>"Vincellér Zoltán, Nikovits Tibor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Számítógépes látás alapjai"</td><td>"IKP-9224"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/48/50"</td><td>""</td><td>""</td><td>"49"</td><td>""</td><td>"Hajder Levente Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Az SAP programozása"</td><td>"IKP-9152"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/60/20"</td><td>""</td><td>""</td><td>"61"</td><td>""</td><td>"Tarcsi Ádám"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Bioinformatikai algoritmusok"</td><td>"IP­18BA"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/27/40"</td><td>""</td><td>""</td><td>"28"</td><td>""</td><td>"Lehotay-Kéry Péter, Kiss Attila Elemér dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Operációs rendszerek EA+GY. (BSc,08,B)"</td><td>"IP-08bOPREG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/7/20"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Illés Zoltán, Illés Zoltán Dr."</td><td>"magyar"</td><td>""</td><td>"Neumann"</td><td>""</td><td>""</td></tr>
<tr><td>"Operációs rendszerek EA+GY. (BSc,08,B)"</td><td>"IP-08bOPREG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/16/20"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Illés Zoltán, Illés Zoltán Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"2"</td></tr>
<tr><td>"Operációs rendszerek EA+GY. (BSc,08,B)"</td><td>"IP-08bOPREG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/187/200"</td><td>""</td><td>""</td><td>"188"</td><td>""</td><td>"Illés Zoltán Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Operációs rendszerek EA+GY. (BSc,08,B)"</td><td>"IP-08bOPREG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/51/20"</td><td>""</td><td>""</td><td>"52"</td><td>""</td><td>"Bende Imre, Illés Zoltán Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Modellek és algoritmusok EA+GY. (BSc,08,B)"</td><td>"IP-08bMODALEG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/9/30"</td><td>""</td><td>""</td><td>"10"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"2"</td></tr>
<tr><td>"Modellek és algoritmusok EA+GY. (BSc,08,B)"</td><td>"IP-08bMODALEG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/48/30"</td><td>""</td><td>""</td><td>"49"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Modellek és algoritmusok EA+GY. (BSc,08,B)"</td><td>"IP-08bMODALEG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/5/30"</td><td>""</td><td>""</td><td>"6"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>"neumann"</td><td>""</td><td>""</td></tr>
<tr><td>"Modellek és algoritmusok EA+GY. (BSc,08,B)"</td><td>"IP-08bMODALEG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/62/90"</td><td>""</td><td>""</td><td>"63"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/15/15"</td><td>""</td><td>""</td><td>"16"</td><td>""</td><td>"Fekete Anett, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/16/15"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Fekete Anett, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/8/15"</td><td>""</td><td>""</td><td>"9"</td><td>""</td><td>"Kis Dávid, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/5/15"</td><td>""</td><td>""</td><td>"6"</td><td>""</td><td>"Kis Dávid, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/11/15"</td><td>""</td><td>""</td><td>"12"</td><td>""</td><td>"Kanyó Kristóf, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"5"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/7/15"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Kanyó Kristóf, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>"TEHETSÉG"</td><td>""</td><td>""</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/3/15"</td><td>""</td><td>""</td><td>"4"</td><td>""</td><td>"Németh Klára Anna, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"7"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/2/15"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Németh Klára Anna, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"9"</td><td>"Gyakorlat"</td><td>"0/14/15"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Fauszt Dorottya Katalin, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"9"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"10"</td><td>"Gyakorlat"</td><td>"0/9/15"</td><td>""</td><td>""</td><td>"10"</td><td>""</td><td>"Fauszt Dorottya Katalin, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"10"</td></tr>
<tr><td>"Eseményvezérelt alkalmazások fejlesztése 2 EA+GY. (BSc,08.B)"</td><td>"IP-08BEVALK2EG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/90/135"</td><td>""</td><td>""</td><td>"91"</td><td>""</td><td>"Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Logika és számításelmélet GY. (BSc,08,B)"</td><td>"IP-08bLSZEG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/19/22"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Tichler Krisztián, Tejfel Máté"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Logika és számításelmélet GY. (BSc,08,B)"</td><td>"IP-08bLSZEG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/29/22"</td><td>""</td><td>""</td><td>"30"</td><td>""</td><td>"Kolonits Gábor, Tejfel Máté, Tichler Krisztián"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Logika és számításelmélet GY. (BSc,08,B)"</td><td>"IP-08bLSZEG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/19/22"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Kolonits Gábor, Tejfel Máté, Tichler Krisztián"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Logika és számításelmélet GY. (BSc,08,B)"</td><td>"IP-08bLSZEG"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/19/22"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Kaposi Ambrus, Tejfel Máté, Tichler Krisztián"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/2/30"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Kovács Ágnes Dr., Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>"fix C"</td><td>""</td><td>"3"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/7/30"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Kovács Ágnes Dr., Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>"Neumann"</td><td>""</td><td>""</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/9/30"</td><td>""</td><td>""</td><td>"10"</td><td>""</td><td>"Kovács Ágnes Dr., Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"2"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/44/30"</td><td>""</td><td>""</td><td>"45"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/32/30"</td><td>""</td><td>""</td><td>"33"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/31/30"</td><td>""</td><td>""</td><td>"32"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"6"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/27/30"</td><td>""</td><td>""</td><td>"28"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"7"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/39/30"</td><td>""</td><td>""</td><td>"40"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"9"</td><td>"Gyakorlat"</td><td>"0/32/30"</td><td>""</td><td>""</td><td>"33"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"9"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika GY (BSc 08, B)"</td><td>"IP-08bVSZG"</td><td>""</td><td>"10"</td><td>"Gyakorlat"</td><td>"0/23/20"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"10"</td></tr>
<tr><td>"Analízis 3. EA+GY. (BSc,08,B)"</td><td>"IP-08bAN3EG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/26/25"</td><td>""</td><td>""</td><td>"27"</td><td>""</td><td>"Németh Zsolt, Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Analízis 3. EA+GY. (BSc,08,B)"</td><td>"IP-08bAN3EG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/28/25"</td><td>""</td><td>""</td><td>"29"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Analízis 3. EA+GY. (BSc,08,B)"</td><td>"IP-08bAN3EG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/27/25"</td><td>""</td><td>""</td><td>"28"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Analízis 3. EA+GY. (BSc,08,B)"</td><td>"IP-08bAN3EG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/33/25"</td><td>""</td><td>""</td><td>"34"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Analízis 3. EA+GY. (BSc,08,B)"</td><td>"IP-08bAN3EG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/113/50"</td><td>""</td><td>""</td><td>"114"</td><td>""</td><td>"Weisz Ferenc Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Programozás módszertani alapjai 2. GY. (BSc,08,B)"</td><td>"IP-08bPMA2G"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/24/20"</td><td>""</td><td>""</td><td>"25"</td><td>""</td><td>"Várkonyi Teréz Anna, Borsi Zsolt Richárd"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Programozás módszertani alapjai 2. GY. (BSc,08,B)"</td><td>"IP-08bPMA2G"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/24/20"</td><td>""</td><td>""</td><td>"18"</td><td>""</td><td>"Várkonyi Teréz Anna, Borsi Zsolt Richárd"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"6"</td></tr>
<tr><td>"IT technológiák és architektúrák nagyvállalati környezetben"</td><td>"IKP-9200"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/43/250"</td><td>""</td><td>""</td><td>"44"</td><td>""</td><td>"Kiss Attila Elemér dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Adatvizualizációs műhely"</td><td>"mm2n9a51"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/25/25"</td><td>""</td><td>""</td><td>"26"</td><td>"K:12:00-14:00 (D 3-107 (LD-3-107));"</td><td>"Lukács András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Közgazdasági alapismeretek EA. (BSc 08)"</td><td>"IP-08KGAE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/48/300"</td><td>""</td><td>""</td><td>"49"</td><td>""</td><td>"Horváth Áron Botond, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Funkcionális programozási nyelvek 2."</td><td>"IKP-9180"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/26/25"</td><td>""</td><td>""</td><td>"27"</td><td>""</td><td>"Tóth Melinda"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/7/20"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Tóth Melinda, Horváth Zoltán Dr., Tejfel Máté"</td><td>"magyar"</td><td>""</td><td>"TEHETSÉG"</td><td>""</td><td>""</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/11/20"</td><td>""</td><td>""</td><td>"12"</td><td>""</td><td>"Tóth Melinda, Horváth Zoltán Dr., Tejfel Máté"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"2"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/19/20"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Németh Dávid János, Horváth Zoltán Dr., Tejfel Máté, Tóth Melinda"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/23/20"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Németh Dávid János, Horváth Zoltán Dr., Tejfel Máté"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/14/20"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Tejfel Máté, Horváth Zoltán Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja GY. (BSc,08,B)"</td><td>"IP-08bORSIG"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/6/20"</td><td>""</td><td>""</td><td>"7"</td><td>""</td><td>"Tejfel Máté, Horváth Zoltán Dr."</td><td>""</td><td>""</td><td>""</td><td>""</td><td>""</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"12"</td><td>"Gyakorlat"</td><td>"0/31/20"</td><td>""</td><td>""</td><td>"32"</td><td>""</td><td>"Veszprémi Anna, Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"12"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/20/20"</td><td>""</td><td>""</td><td>"21"</td><td>""</td><td>"Nagy Ádám, Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>"fix csopor..."</td><td>""</td><td>"6"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/16/20"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Kovácsné Pusztai Kinga Emese, Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>"fix csopor..."</td><td>""</td><td>"7"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/19/20"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Szita Balázs, Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/10/20"</td><td>""</td><td>""</td><td>"11"</td><td>""</td><td>"Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>"Neumann cs..."</td><td>""</td><td>""</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. GY. (BSc, 08, B"</td><td>"IP-08bAA1G_14"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/20/20"</td><td>""</td><td>""</td><td>"21"</td><td>""</td><td>"Nagy Sára, Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>"fix csopor..."</td><td>""</td><td>"5"</td></tr>
<tr><td>"Linux haladóknak"</td><td>"IKP-9167"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/13/20"</td><td>""</td><td>""</td><td>"14"</td><td>"H:18:00-20:00 (2-107 (PC2) (LD-2-107));"</td><td>"Sándor Antal, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Játékprogramok készítése"</td><td>"IKP-9145"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/84/21"</td><td>""</td><td>""</td><td>"85"</td><td>""</td><td>"Mihályi Zoltán, Horváth Győző, Illés Zoltán Dr., Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"A logika története"</td><td>"XXXN9805"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/61/80"</td><td>""</td><td>""</td><td>"62"</td><td>"SZE:14:00-16:00 (0.89 Jedlik Ányos Terem (LÉ-0-89));"</td><td>"Kutrovátz Gábor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>"http://kut..."</td><td>"1"</td></tr>
<tr><td>"Linux kezdőknek"</td><td>"IKP-9168"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/106/20"</td><td>""</td><td>""</td><td>"107"</td><td>""</td><td>"Sándor Antal, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Számítógépes hálózatok EA. (BSc,08,B)"</td><td>"IP-08bSZHE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/270/340"</td><td>""</td><td>""</td><td>"271"</td><td>""</td><td>"Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Analízis 2. EA (BSc,08,B)"</td><td>"IP-08bAN2E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/329/350"</td><td>""</td><td>""</td><td>"330"</td><td>""</td><td>"Szili László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Programozás EA+GY. (BSc,08,B)"</td><td>"IP-08bPROGEG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/54/60"</td><td>""</td><td>""</td><td>"55"</td><td>""</td><td>"Gregorics Tibor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Programozás EA+GY. (BSc,08,B)"</td><td>"IP-08bPROGEG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/17/20"</td><td>""</td><td>""</td><td>"18"</td><td>""</td><td>"Borsi Zsolt Richárd"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Mesterséges intelligencia EA. (BSc,08,B)"</td><td>"IP-08bMIAE"</td><td>""</td><td>"1"</td><td>"Előadás/Vizsgakurzus"</td><td>"0/65/70"</td><td>""</td><td>""</td><td>"66"</td><td>""</td><td>"Gregorics Tibor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"C# nyelv mobil környezetben"</td><td>"IKP-9165"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/45/20"</td><td>""</td><td>""</td><td>"46"</td><td>""</td><td>"Illés Zoltán, Illés Zoltán Dr., Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Adatbázisok 1. EA. (BSc,08,B)"</td><td>"IP-08bAB1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/64/90"</td><td>""</td><td>""</td><td>"65"</td><td>""</td><td>"Hajas Csilla Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Analízis 1. GY (BSc,08,B)"</td><td>"IP-08bAN1G"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/9/25"</td><td>""</td><td>""</td><td>"1"</td><td>""</td><td>"Chripkó Ágnes Dr., Fridli Sándor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Analízis 1. GY (BSc,08,B)"</td><td>"IP-08bAN1G"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/0/25"</td><td>""</td><td>""</td><td>"1"</td><td>""</td><td>"Szarvas Kristóf, Fridli Sándor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Analízis 1. GY (BSc,08,B)"</td><td>"IP-08bAN1G"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/16/25"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Bognár Gergő, Fridli Sándor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Logika és számításelmélet EA. (BSc,08,B)"</td><td>"IP-08bLSZEE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/379/400"</td><td>""</td><td>""</td><td>"380"</td><td>""</td><td>"Tejfel Máté, Tichler Krisztián"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Osztott rendsz.specifikációja és implementációja EA. (BSc,08,B)"</td><td>"IP-08bORSIE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/115/180"</td><td>""</td><td>""</td><td>"116"</td><td>""</td><td>"Horváth Zoltán Dr., Tejfel Máté"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Valószínűségszámítás és statisztika EA. (BSc,08,B)"</td><td>"IP-08bVSZE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/272/300"</td><td>""</td><td>""</td><td>"273"</td><td>""</td><td>"Zempléni András Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Lineáris Algebra GY. (BSc 08)"</td><td>"IP-08LAG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/1/50"</td><td>""</td><td>""</td><td>"2"</td><td>""</td><td>"Hermann Péter Dr., Kiss Emil Dr., Szalay Mihály Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Numerikus módszerek 1. GY (BSc,08, B)"</td><td>"IP-08bNM1G"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/40/30"</td><td>""</td><td>""</td><td>"41"</td><td>""</td><td>"Bozsik József, Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Numerikus módszerek 1. GY (BSc,08, B)"</td><td>"IP-08bNM1G"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/10/30"</td><td>""</td><td>""</td><td>"11"</td><td>""</td><td>"Németh Zsolt, Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>"Neumann"</td><td>""</td><td>""</td></tr>
<tr><td>"Numerikus módszerek 1. GY (BSc,08, B)"</td><td>"IP-08bNM1G"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/25/30"</td><td>""</td><td>""</td><td>"26"</td><td>""</td><td>"Hegedűs Csaba, Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"5"</td></tr>
<tr><td>"Numerikus módszerek 1. GY (BSc,08, B)"</td><td>"IP-08bNM1G"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/19/30"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"6"</td></tr>
<tr><td>"Numerikus módszerek 1. GY (BSc,08, B)"</td><td>"IP-08bNM1G"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/14/30"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Lénárd Margit Mária Dr., Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>"fix"</td><td>""</td><td>"7"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"12"</td><td>"Gyakorlat"</td><td>"0/4/18"</td><td>""</td><td>""</td><td>"5"</td><td>""</td><td>"Gombos Gergő, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"12"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"13"</td><td>"Gyakorlat"</td><td>"0/0/18"</td><td>""</td><td>""</td><td>"1"</td><td>""</td><td>"Vörös Péter, Laki Sándor"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"13"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/28/18"</td><td>""</td><td>""</td><td>"29"</td><td>""</td><td>"Gombos Gergő, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"11"</td><td>"Gyakorlat"</td><td>"0/7/18"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Gombos Gergő, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>"tehetségg..."</td><td>""</td><td>""</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"10"</td><td>"Gyakorlat"</td><td>"0/30/18"</td><td>""</td><td>""</td><td>"31"</td><td>""</td><td>"Szalai-Gindl János Márk, Laki Sándor"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"10"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/26/18"</td><td>""</td><td>""</td><td>"27"</td><td>""</td><td>"Gombos Gergő, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/31/18"</td><td>""</td><td>""</td><td>"32"</td><td>""</td><td>"Szalai-Gindl János Márk, Laki Sándor"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/13/18"</td><td>""</td><td>""</td><td>"14"</td><td>""</td><td>"Szalai-Gindl János Márk, Laki Sándor"</td><td>"magyar"</td><td>""</td><td>"fix B"</td><td>""</td><td>"1"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/24/18"</td><td>""</td><td>""</td><td>"25"</td><td>""</td><td>"Vincellér Zoltán, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Számítógépes hálózatok GY (BSc 08, B)"</td><td>"IP-08bSZHG"</td><td>""</td><td>"9"</td><td>"Gyakorlat"</td><td>"0/22/18"</td><td>""</td><td>""</td><td>"23"</td><td>""</td><td>"Vincellér Zoltán, Laki Sándor, Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"9"</td></tr>
<tr><td>"Objektum elvű alkalmazások fejlesztése EA+GY. (BSc,08,B)"</td><td>"IP-08bOEALKEG"</td><td>""</td><td>"90"</td><td>"Előadás/Vizsgakurzus"</td><td>"0/2/20"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Gregorics Tibor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Objektum elvű alkalmazások fejlesztése EA+GY. (BSc,08,B)"</td><td>"IP-08bOEALKEG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/4/20"</td><td>""</td><td>""</td><td>"5"</td><td>""</td><td>"Gregorics Tibor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/12/20"</td><td>""</td><td>""</td><td>"13"</td><td>""</td><td>"Lázár Katalin Anna Dr., Csuhaj Varjú Erzsébet, Nagy Sára"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/3/20"</td><td>""</td><td>""</td><td>"4"</td><td>""</td><td>"Lázár Katalin Anna Dr., Csuhaj Varjú Erzsébet, Nagy Sára"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/23/20"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Vatai Emil, Csuhaj Varjú Erzsébet, Nagy Sára"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/22/20"</td><td>""</td><td>""</td><td>"4"</td><td>""</td><td>"Kolonits Gábor, Csuhaj Varjú Erzsébet, Nagy Sára"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Formális nyelvek és automaták GY (BSc,08,B)"</td><td>"IP-08bFNYG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/35/20"</td><td>""</td><td>""</td><td>"36"</td><td>""</td><td>"Kolonits Gábor, Csuhaj Varjú Erzsébet, Nagy Sára"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Szoftver technológia EA+GY. (BSc,08,B)"</td><td>"IP-08bSZTEG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/8/15"</td><td>""</td><td>""</td><td>"9"</td><td>""</td><td>"Varga László Zsolt"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Szoftver technológia EA+GY. (BSc,08,B)"</td><td>"IP-08bSZTEG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/14/15"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Varga László Zsolt"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"IP-08bAA1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/226/300"</td><td>""</td><td>""</td><td>"227"</td><td>""</td><td>"Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Algoritmusok és adatszerkezetek 1. EA (BSc,08,B)"</td><td>"IP-08bAA1E"</td><td>""</td><td>"2"</td><td>"Előadás"</td><td>"0/174/190"</td><td>""</td><td>""</td><td>"175"</td><td>""</td><td>"Ásványi Tibor dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/25/18"</td><td>""</td><td>""</td><td>"26"</td><td>""</td><td>"Nikovits Tibor Dr., Kiss Attila Elemér dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"8"</td><td>"Gyakorlat"</td><td>"0/17/18"</td><td>""</td><td>""</td><td>"18"</td><td>""</td><td>"Brányi László, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"8"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/20/18"</td><td>""</td><td>""</td><td>"21"</td><td>""</td><td>"Brányi László, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"7"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/24/18"</td><td>""</td><td>""</td><td>"25"</td><td>""</td><td>"Varga Dániel, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"13"</td><td>"Gyakorlat"</td><td>"0/16/18"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Nikovits Tibor Dr., Kiss Attila Elemér dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>"fix csopor..."</td><td>""</td><td>"13"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/25/18"</td><td>""</td><td>""</td><td>"26"</td><td>""</td><td>"Brányi László, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/23/18"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Nikovits Tibor Dr., Kiss Attila Elemér dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/18/18"</td><td>""</td><td>""</td><td>"19"</td><td>""</td><td>"Brányi László, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Adatbázisok 2. GY. (BSc,08,B)"</td><td>"IP-08bAB2G"</td><td>""</td><td>"10"</td><td>"Gyakorlat"</td><td>"0/7/18"</td><td>""</td><td>""</td><td>"8"</td><td>""</td><td>"Brányi László, Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>"tehetségg..."</td><td>""</td><td>""</td></tr>
<tr><td>"Adatbázisok 2. EA. (BSc,08,B)"</td><td>"IP-08bAB2E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/233/300"</td><td>""</td><td>""</td><td>"234"</td><td>""</td><td>"Kiss Attila Elemér dr., Nikovits Tibor Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Fordítóprogramok GY. (BSc,08,B)"</td><td>"IP-08bFPG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/21/20"</td><td>""</td><td>""</td><td>"22"</td><td>""</td><td>"Dévai Gergely"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Numerikus módszerek 1. EA (BSc,08, B)"</td><td>"IP-08bNM1E"</td><td>""</td><td>"2"</td><td>"Előadás/Vizsgakurzus"</td><td>"0/84/150"</td><td>""</td><td>""</td><td>"85"</td><td>""</td><td>"Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Numerikus módszerek 1. EA (BSc,08, B)"</td><td>"IP-08bNM1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/357/330"</td><td>""</td><td>""</td><td>"358"</td><td>""</td><td>"Krebsz Anna Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Számítógépes képszerkesztés"</td><td>"IKP-9171:2"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/46/20"</td><td>""</td><td>""</td><td>"47"</td><td>""</td><td>"Sarbó Gergely, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Számítógépes képszerkesztés"</td><td>"IKP-9171:2"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/43/20"</td><td>""</td><td>""</td><td>"44"</td><td>""</td><td>"Sarbó Gergely, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Nevezetes algoritmusok implementálása"</td><td>"IKP-9065"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/37/20"</td><td>""</td><td>""</td><td>"38"</td><td>""</td><td>"Veszprémi Anna"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Firemonkey programozás"</td><td>"IKP-9227"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/23/20"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Daiki Tennó, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Grafikus processzorok általános célú programozása (GPGPU"</td><td>"IKP-9237"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/30/20"</td><td>""</td><td>""</td><td>"31"</td><td>""</td><td>"Hajder Levente Dr., Eichhardt Iván"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"WINDOWS rendszeradmin haladó"</td><td>"IKP-9174"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/2/20"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Sándor Antal, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Diszkrét matematika 1. EA. (BSc 08)"</td><td>"IP-08DM1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/15/80"</td><td>""</td><td>""</td><td>"16"</td><td>""</td><td>"Juhász Zsófia"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Fraktálok világa"</td><td>"IKP-9166"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/51/20"</td><td>""</td><td>""</td><td>"52"</td><td>""</td><td>"Horváth László, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Az informatika története"</td><td>"IKI-IT1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/62/100"</td><td>""</td><td>""</td><td>"63"</td><td>""</td><td>"Képes Gábor László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Analízis 1. EA. (BSc,08,B)"</td><td>"IP-08bAN1E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/90/100"</td><td>""</td><td>""</td><td>"14"</td><td>""</td><td>"Fridli Sándor Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Diszkrét matematika 2. EA. (BSc,08,B)"</td><td>"IP-08bDM2E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/69/100"</td><td>""</td><td>""</td><td>"7"</td><td>""</td><td>"Fülöp Ágnes"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"IP-08bDM2G"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/13/18"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Tóth Viktória dr., Fülöp Ágnes"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Diszkrét matematika 2. GY. (BSc,08,B)"</td><td>"IP-08bDM2G"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/8/18"</td><td>""</td><td>""</td><td>"9"</td><td>""</td><td>"Tóth Viktória dr., Fülöp Ágnes"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Delphi kezdőknek"</td><td>"IKP-9169"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/43/20"</td><td>""</td><td>""</td><td>"44"</td><td>""</td><td>"Daiki Tennó, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"zSeries(S/390) operaciós rendszerek 2. GY"</td><td>"IKP-9105"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/1/20"</td><td>""</td><td>""</td><td>"2"</td><td>""</td><td>"Belme Attila, Mocsáry János"</td><td>"magyar"</td><td>""</td><td>"A gyakorla..."</td><td>""</td><td>"1"</td></tr>
<tr><td>"Nagygépes alapismeretek"</td><td>"IKP-9101"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/14/20"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Belme Attila, Mocsáry János"</td><td>"magyar"</td><td>""</td><td>"Sze,16:00-..."</td><td>""</td><td>"1"</td></tr>
<tr><td>"Windows Server rendszeradmin kezdő"</td><td>"IKP-9175"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/49/20"</td><td>""</td><td>""</td><td>"50"</td><td>""</td><td>"Sándor Antal"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Informatikai versenyfeladatok 2. GY (T)"</td><td>"IP-tIVFG2"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/12/20"</td><td>""</td><td>""</td><td>"13"</td><td>""</td><td>"Horváth Gyula dr., Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Tudományfilozófia"</td><td>"xxxn9101:02"</td><td>""</td><td>"01"</td><td>"Szeminárium"</td><td>"0/12/30"</td><td>""</td><td>""</td><td>"13"</td><td>""</td><td>"Kampis György Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"01"</td></tr>
<tr><td>"Matematika - informatika szeminárium"</td><td>"IKP-9122"</td><td>""</td><td>"1"</td><td>"Szeminárium"</td><td>"0/11/15"</td><td>""</td><td>""</td><td>"12"</td><td>""</td><td>"Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Adatbázisok 1.GY. (BSc,08,B)"</td><td>"IP-08bAB1G"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/0/0"</td><td>""</td><td>""</td><td>"1"</td><td>""</td><td>"Vörös Péter, Hajas Csilla Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>""</td></tr>
<tr><td>"Adatbázisok 1.GY. (BSc,08,B)"</td><td>"IP-08bAB1G"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/16/18"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Vörös Péter, Hajas Csilla Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Adatbázisok 1.GY. (BSc,08,B)"</td><td>"IP-08bAB1G"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/13/18"</td><td>""</td><td>""</td><td>"14"</td><td>""</td><td>"Hajas Csilla Dr., Szalai-Gindl János Márk"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Programozási nyelvek II. ADA EA+GY. (BSc,08,B)"</td><td>"IP-08bPNY2EG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/16/20"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Zsók Viktória, Kozsik Tamás Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"4"</td></tr>
<tr><td>"Programozási nyelvek II. ADA EA+GY. (BSc,08,B)"</td><td>"IP-08bPNY2EG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/11/20"</td><td>""</td><td>""</td><td>"12"</td><td>""</td><td>"Török Márk, Kozsik Tamás Dr., Zsók Viktória"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Programozási nyelvek II. ADA EA+GY. (BSc,08,B)"</td><td>"IP-08bPNY2EG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/90/100"</td><td>""</td><td>""</td><td>"91"</td><td>""</td><td>"Zsók Viktória, Kozsik Tamás Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Fordítóprogramok EA. (BSc,08,B)"</td><td>"IP-08bFPE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/168/190"</td><td>""</td><td>""</td><td>"169"</td><td>""</td><td>"Dévai Gergely"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Programozás módszertani alapjai 1. EA. (BSc,08,B)"</td><td>"IP-08bPMA1E"</td><td>""</td><td>"1"</td><td>"Előadás/Vizsgakurzus"</td><td>"0/3/20"</td><td>""</td><td>""</td><td>"4"</td><td>""</td><td>"Borsi Zsolt Richárd"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Programozás módszertani alapjai 2. EA. (BSc,08,B)"</td><td>"IP-08bPMA2E"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/119/120"</td><td>""</td><td>""</td><td>"102"</td><td>""</td><td>"Borsi Zsolt Richárd"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Lineáris Algebra EA. (BSc 08)"</td><td>"IP-08LAE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/31/300"</td><td>""</td><td>""</td><td>"32"</td><td>""</td><td>"Szalay Mihály Dr."</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Korszerű webfejlesztés"</td><td>"IKP-9238"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/33/20"</td><td>""</td><td>""</td><td>"34"</td><td>""</td><td>""</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>""</td></tr>
<tr><td>"zSeries (S/390) operációs rendszerek 1."</td><td>"IKP-9104"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/3/10"</td><td>""</td><td>""</td><td>"4"</td><td>""</td><td>"Belme Attila, Mocsáry János"</td><td>"magyar"</td><td>""</td><td>"Az óra kül..."</td><td>""</td><td>"1"</td></tr>
<tr><td>"Diszkrét matematika 1. GY. (BSc 08)"</td><td>"IP-08DM1G"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/2/20"</td><td>""</td><td>""</td><td>"3"</td><td>""</td><td>"Fülöp Ágnes, Juhász Zsófia"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"A 3D grafika"</td><td>"IKP-9163"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/54/20"</td><td>""</td><td>""</td><td>"55"</td><td>""</td><td>"Horváth László, Zsakó László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Webes alkalmazások fejlesztése EA+GY (BSc 08 B)"</td><td>"IP-08bWAFEG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/15/15"</td><td>""</td><td>""</td><td>"16"</td><td>""</td><td>"Baranyai Ádám, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Webes alkalmazások fejlesztése EA+GY (BSc 08 B)"</td><td>"IP-08bWAFEG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/12/15"</td><td>""</td><td>""</td><td>"13"</td><td>""</td><td>"Baranyai Ádám, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"2"</td></tr>
<tr><td>"Webes alkalmazások fejlesztése EA+GY (BSc 08 B)"</td><td>"IP-08bWAFEG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/16/15"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Révész Ádám, Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Webes alkalmazások fejlesztése EA+GY (BSc 08 B)"</td><td>"IP-08bWAFEG"</td><td>""</td><td>"90"</td><td>"Előadás/Vizsgakurzus"</td><td>"0/43/45"</td><td>""</td><td>""</td><td>"44"</td><td>""</td><td>"Cserép Máté András"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/25/25"</td><td>""</td><td>""</td><td>"26"</td><td>""</td><td>"Szarvas Kristóf, Szili László"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"5"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/16/25"</td><td>""</td><td>""</td><td>"17"</td><td>""</td><td>"Chripkó Ágnes Dr., Szili László"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"6"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/13/25"</td><td>""</td><td>""</td><td>"14"</td><td>""</td><td>"Chripkó Ágnes Dr., Szili László"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>""</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/48/25"</td><td>""</td><td>""</td><td>"49"</td><td>""</td><td>"Pál Jenő, Szili László"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"3"</td></tr>
<tr><td>"Analízis 2. GY. (BSc,08,B)"</td><td>"IP-08bAN2G"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/10/25"</td><td>""</td><td>""</td><td>"11"</td><td>""</td><td>"Szarvas Kristóf, Szili László"</td><td>"magyar"</td><td>""</td><td>"Neumann"</td><td>""</td><td>""</td></tr>
<tr><td>"Formális nyelvek és automaták EA (BSc, 08,B)"</td><td>"IP-08bFNYE"</td><td>""</td><td>"1"</td><td>"Előadás"</td><td>"0/131/160"</td><td>""</td><td>""</td><td>"24"</td><td>""</td><td>"Nagy Sára, Csuhaj Varjú Erzsébet"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"1"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"2"</td><td>"Gyakorlat"</td><td>"0/20/20"</td><td>""</td><td>""</td><td>"21"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>""</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"3"</td><td>"Gyakorlat"</td><td>"0/17/20"</td><td>""</td><td>""</td><td>"18"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"3"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"4"</td><td>"Gyakorlat"</td><td>"0/14/20"</td><td>""</td><td>""</td><td>"15"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>"FIX"</td><td>""</td><td>"4"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"5"</td><td>"Gyakorlat"</td><td>"0/9/20"</td><td>""</td><td>""</td><td>"7"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"5"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"6"</td><td>"Gyakorlat"</td><td>"0/19/20"</td><td>""</td><td>""</td><td>"20"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"6"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"7"</td><td>"Gyakorlat"</td><td>"0/18/20"</td><td>""</td><td>""</td><td>"19"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"7"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"90"</td><td>"Előadás"</td><td>"0/161/160"</td><td>""</td><td>""</td><td>"96"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>""</td><td>""</td><td>"90"</td></tr>
<tr><td>"Programozási nyelvek I. C++ EA+GY. (BSc 08, B)"</td><td>"IP-08bPNY1EG"</td><td>""</td><td>"1"</td><td>"Gyakorlat"</td><td>"0/10/20"</td><td>""</td><td>""</td><td>"11"</td><td>""</td><td>"Pataki Norbert, Porkoláb Zoltán"</td><td>"magyar"</td><td>""</td><td>"NEUMANN"</td><td>""</td><td>""</td></tr>
</table>
</body>
