<style>
	td {
		width: 10em;
		text-align: left;
		vertical-align: top;
	}
</style>
<tr>
<th>Monday</th>
<th>Tuesday</th>
<th>Wednesday</th>
<th>Thursday</th>
<th>Friday</th>
<th>Saturday</th>
<th>Sunday</th>
</tr>
<tr style="height:10.0em;"><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><td>0:00</td><tr style="height:10.0em;"><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td><td>0:30</td></tr>
<tr style="height:10.0em;"><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><td>1:00</td><tr style="height:10.0em;"><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td><td>1:30</td></tr>
<tr style="height:10.0em;"><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><td>2:00</td><tr style="height:10.0em;"><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td><td>2:30</td></tr>
<tr style="height:10.0em;"><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><td>3:00</td><tr style="height:10.0em;"><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td><td>3:30</td></tr>
<tr style="height:10.0em;"><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><td>4:00</td><tr style="height:10.0em;"><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td><td>4:30</td></tr>
<tr style="height:10.0em;"><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><td>5:00</td><tr style="height:10.0em;"><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td><td>5:30</td></tr>
<tr style="height:10.0em;"><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><td>6:00</td><tr style="height:10.0em;"><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td><td>6:30</td></tr>
<tr style="height:10.0em;"><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><td>7:00</td><tr style="height:10.0em;"><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td><td>7:30</td></tr>
<tr style="height:10.0em;"><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><td>8:00</td><tr style="height:10.0em;"><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td><td>8:30</td></tr>
<tr style="height:10.0em;"><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><td>9:00</td><tr style="height:10.0em;"><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td><td>9:30</td></tr>
<tr style="height:10.0em;"><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><td>10:00</td><tr style="height:10.0em;"><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td><td>10:30</td></tr>
<tr style="height:10.0em;"><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><td>11:00</td><tr style="height:10.0em;"><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td><td>11:30</td></tr>
<tr style="height:10.0em;"><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><td>12:00</td><tr style="height:10.0em;"><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td><td>12:30</td></tr>
<tr style="height:10.0em;"><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><td>13:00</td><tr style="height:10.0em;"><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td><td>13:30</td></tr>
<tr style="height:10.0em;"><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><td>14:00</td><tr style="height:10.0em;"><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td><td>14:30</td></tr>
<tr style="height:10.0em;"><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><td>15:00</td><tr style="height:10.0em;"><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td><td>15:30</td></tr>
<tr style="height:10.0em;"><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><td>16:00</td><tr style="height:10.0em;"><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td><td>16:30</td></tr>
<tr style="height:10.0em;"><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><td>17:00</td><tr style="height:10.0em;"><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td><td>17:30</td></tr>
<tr style="height:10.0em;"><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><td>18:00</td><tr style="height:10.0em;"><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td><td>18:30</td></tr>
<tr style="height:10.0em;"><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><td>19:00</td><tr style="height:10.0em;"><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td><td>19:30</td></tr>
<tr style="height:10.0em;"><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><td>20:00</td><tr style="height:10.0em;"><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td><td>20:30</td></tr>
<tr style="height:10.0em;"><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><td>21:00</td><tr style="height:10.0em;"><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td><td>21:30</td></tr>
<tr style="height:10.0em;"><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><td>22:00</td><tr style="height:10.0em;"><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td><td>22:30</td></tr>
<tr style="height:10.0em;"><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><td>23:00</td><tr style="height:10.0em;"><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td><td>23:30</td></tr>
